body {
	background-color: #D8BFD8;
}

h1 {
	text-align: center;
	color: #DA70D6;
	font-family: DejaVu Sans Mono;
	width: 50%;
}

h2 {
	text-align: center;
	color: #000000;
	font-style: Oblique;
	width: 50%;
}

h3 {
	position: relative;
	left: 240px;
	width: 40%;
	top: -210px;
	font-style: Cursive;
}

nav {
	text-align: center;
	background-color: #DA70D6;
	padding: 1px;
	border: 1px solid #DA70D6;
	margin: left;
	width: 99%;
}

nav ul li {
	display: inline;
	margin: 5%;
	padding: 5px;
    font-size: 15px;
	background-color: #DA70D6;
	font-weight: bold;
}

#cont {
	float: right;
	width: 50%;
}

#conteudo {
	float: left;
	width: 50%;
}

p {
	position: relative;
	left: 240px;
	top: -200px;
	font-family: Arial;
	margin-right: 300px;
	width: 40%;
}

section.bb {
	float: right;
}	

a {
	text-decoration: none;
}	

img {
	position: relative;
	left: 5px;
	top: 10px;
	border: 1px solid #DA70D6;
} 

footer {
  font-size: 15px;
  text-align: center;
  color: #DA70D6;
}

.clear {
	clear: both;
}	

article {
	margin-bottom: -100px;
}
